<div id="graphic"></div>
<div id="btn2">
  <button type="button" id="btn-preview2" (click)='btnPreview()' class="btn btn-default btn-lg">
    <span class="fas fa-arrow-left" aria-hidden="true"></span>
  </button>
  <button type="button" id="btn-next2" (click)='btnNext()' class="btn btn-default btn-lg">
    <span class="fas fa-arrow-right" aria-hidden="true"></span>
  </button>
</div>
<div id="txtYear2" [ngStyle]="{'visibility':!showYear ? 'hidden':'visible'}" style='width: 100%; color: gray;font-size: 20px'>
  <div style="float: left; margin-left: 17px">{{fistYear}}</div>
  <div style="float: right;margin-right: 90px">{{lastYear}}</div>
</div>
